@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Roboto:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
} 

/* Determinando responsividade do site */

header{
    
    height: 80px;
    display: flex;
    background-color: #CC655E;
    align-items: center;
    box-shadow: 2px 2px 7px 1px #cc655ec6;
    justify-content: space-between;

}

.logo{
    padding-left: 50px;
}


.logo img{
    width: 80px;
}

.menu{
    display: flex;
    align-content: flex-start;
}
.menu ul{
    display: flex;
    gap: 60px;
    margin: 0 3rem;

}

.menu li,a{
    display: flex;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    align-content: center;
    align-items: center;
}



header form{
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 13px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: 40s;
    transition: 0.5s all;

}
header form:hover , header form ul li a{
    width: 400px;
    border-radius: 45px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: .6s all;
}
header form button{
    display: grid;
    place-items: center;
}

header form input [type="text"]:placeholder-shown{
    display: none;
    width: 110%;
}

.active{
    display: block;
}

header form.active:hover input[type="text"]:placeholder-shown{
    display: block;
}

header form input[type="text"]{
    background: none;
    border:none;
    outline: none;
    width: 110%;
}

header button {
    background: none;
    border: none;
}

.menu ul{
    
    list-style-type: none;
    padding: 0;
    display: flex;
    background-color: #CC655E;
    border-radius: 4px;    
}

.menu ul li{
    display: inline;
    position:relative;
}

.menu ul li a{
    color: #F3E1E1;
    text-decoration: none;
    display: block;
    padding: 10px;
    text-align: justify;
    
}

.menu ul li a:hover{
   background-color: #7d3d38;
   border-radius: 4px;
}

/* Sub-manu */

.menu ul ul{
    display: none;
    position: absolute;
    right: -280px;
    
}

.menu ul li:hover ul{
    display: block;
    width: 300px;
}

.carrinho{
    background-color: #F3E1E1;
    border-radius: 40px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s all;
    margin: 0  50px;
}

.carrinho:hover{
    background-color: #7d3d38;
    border-radius: 40px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s all;
    margin: 0 50px;
}

.carrinho a img {
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-home{
    background-color: #F3E1E1;
    border-radius: 40px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .6s all;
    margin-right: 50px;
    transition: .6s all;
}

span{
    width: 30px;
    color: black; 
}

.login-home:hover{
    background-color: #7d3d38;
    transition: .6s all;
}

/* Carousel */

.carousel{
    margin-top: 100px;
}

.carousel-item img{
    height: 401px;
    border-radius: 12px;
}

.produtos{
    height: 800px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 120px;
}

.lista-produtos{
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 100px;
}
.lista-produtos  img{
    margin-top: 50px;
    width: 200px;
    border: solid 1px white;
    border-radius: 8px;
    cursor: pointer;
}


main .container{
    max-width: 1280px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    height: 2000px;
}


.lista-produtos1{
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 100px;
}
.lista-produtos1 img{
    margin-top: 50px;
    width: 200px;
    border: solid 1px white;
    border-radius: 8px;
    cursor: pointer;
}

#paragrafo-produto{
    color: black;
    margin: 30px 0px 0px 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}
#preço{
    color: black;
    text-align: center;
    margin-top: 10px;
}
a{
    text-decoration: none;
}
.banner-produtos{
    width: 200px;
    height: 390px;
    background-color: #e9b1ad;
    border-radius: 8px;
    box-shadow: 2px 2px 7px 1px #a57d7b;
}

.banner-produtos img{
    width: 200px;
    margin-top: 0px;
}

.descricao-produto {
    text-align: center;
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    margin-top: -15px;
    
}

button{
    width: 180px;
    border: none;
    background-color: #CC655E;
    color: #F3E1E1;
}

#adicionar-carrinho, #compras{
    margin-top: 15px;
    border-radius: 45px;
    height: 30px;
    text-transform: uppercase;
    font-size: 12px;
}

#compras:hover{
    width: 180px;
    border: none;
    background-color: rgb(106, 217, 106);
    color: #F3E1E1;
    box-shadow: 2px 2px 7px 1px #cc655ec6;
}

#adicionar-carrinho:hover{
    width: 180px;
    border: none;
    background-color: rgb(106, 217, 106);
    color: #F3E1E1;
    box-shadow: 2px 2px 7px 1px #cc655ec6;
} 

.vejaMais a{
    margin-top: 50px;
    text-decoration: none;  
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 0, 0);
    font-weight: bolder;

    
}

.rodape{
    width: 100%;
    height: 450px;
    background-color: #CC655E;
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    padding-right: 15px;

}

.cards-info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.cards{
    background-color: #e9b1ad;
    width: 350px;
    height: 300px;
    padding: 15px;

    text-align: justify;
    font-family:'Roboto', sans-serif;
    line-height: 2;
  
}

.cards h4{
    text-align: center;
    margin-bottom: 30px;
    font-weight: bolder;
}

.cards ul li{
    list-style: none;
    
}

.cards ul li a, p a{
    text-decoration: none;
    color: black;
    transition: 0.5s;
}

.cards ul li a:hover{
    color: #803b36;
    font-size: 17px;
    font-weight: bolder;
    transition: 0.5s;
}



.cards p a{
    color: blue;
}

.cards p a:hover{
    color: #803b36;
    font-size: 17px;
    font-weight: bolder;
    transition: 0.5s;
}

.social-icons{
    display: flex;
    justify-content: center;
    
    color: white;
    width: 100%;
    margin-top: 30px;
} 

.social-icons a img{
    width: 50px;
    margin-left: 40px;
}

