<body>
    <div class="containe">

        <nav>
            <ul>
                <li>
                    <a href="/" class="logo">
                        <img src="/img/logo/logo.png" alt="">
                        <span class="nav-item">Bolos Gourmet</span>
                    </a>
                </li>

               

               

                <li class=""><a href="">
                    <i class="fas fa-perfil"></i>
                    <span class="nav-item"> <% if(locals.user.name && user.name) { %>
                        <span><%= user.name %></span>
                   <% } %></span>
                </a></li>

                <li class=""><a href="/admin/produtos">
                    <i class="fas fa-produto"></i>
                    <span class="nav-item">Produtos</span>
                </a></li>

                <li class=""><a href="/admin/cadastrarProduto">
                    <i class="fas fa-cadastrar-produto"></i>
                    <span class="nav-item">Cadastrar Produtos</span>
                </a></li>
                
               <!--  <li class=""><a href="/admin/usuarios">
                    <i class="fas fa-cadastrar-produto"></i>
                    <span class="nav-item">Usuários</span>
                </a></li>

                <li class=""><a href="/admin/pedidos">
                    <i class="fas fa-cadastrar-produto"></i>
                    <span class="nav-item">Pedidos</span>
                </a></li> -->


                <!-- <li ><a href="/home" class="sair">
                    <i class="fas fa-sair"></i>
                    <span class="nav-item">Sair</span>
                </a></li> -->

            </ul>
        </nav>


    </div>
</body>