<body>
    <div class="containe">

        <nav>
            <ul>
                <li>
                    <a href="/" class="logo">
                        <img src="/img/logo/logo.png" alt="">
                        <span class="nav-item">Bolos Gourmet</span>
                    </a>
                </li>

                <li class=""><a href="/admin/home">
                    <i class="fas fa-home"></i>
                    <span class="nav-item">Home</span>
                </a></li>

                <li class=""><a href="">
                    <i class="fas fa-perfil"></i>
                    <span class="nav-item">Perfil</span>
                </a></li>

                <li class=""><a href="/admin/produtos">
                    <i class="fas fa-produto"></i>
                    <span class="nav-item">Produto</span>
                </a></li>

                <li class=""><a href="/admin/cadastrarProduto">
                    <i class="fas fa-cadastrar-produto"></i>
                    <span class="nav-item">Cadastrar Produto</span>
                </a></li>

                <li class=""><a href="">
                    <i class="fas fa-clientes"></i>
                    <span class="nav-item">Clientes</span>
                </a></li>

                <li class=""><a href="">
                    <i class="fas fa-configuracoes"></i>
                    <span class="nav-item">Configurações</span>
                </a></li>

                <li ><a href="" class="sair">
                    <i class="fas fa-sair"></i>
                    <span class="nav-item">Sair</span>
                </a></li>

                



            
    
            


            </ul>
        </nav>


    </div>
</body>