<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/listagem-produtos.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <title>listagem-produtos</title>
</head>
<body>
    <header class="container">

        <div class=" logo">
            <img src="/assets/img//logo.png" alt="logo">
        </div>

        <div class="menu">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Bolos</a>
                    <ul>
                        <li><a href="#">Festivos</a></li>
                        <li><a href="#">Casamentos</a></li>
                    </ul>
                </li>
                <li><a href="">Contato</a></li>
                <li><a href="">Sobre</a></li>
            </ul>
        </div> 

        <form id="search">
          <input type="text" name="q" id="search" autocomplete="off" placeholder="Buscar..." >
          <button type="submit">
              <span class="material-symbols-outlined">
                  search
              </span>
          </button>
        </form>

        <div class="carrinho">
           <a href="#"> <img src="/assets/img/carrinho.png" alt="carrinho"></a>
        </div> 
        <div class="login-home">
           
                <span class="material-symbols-outlined">
                    login
                </span>
            
        </div>
    </header>

    <main class="container">

        <section class="produtos">
            <div class="lista-produtos">
                <article class="banner-produtos">
                    <img src="/assets/img/bolo_1.jfif" alt="">
                    <div class="descricao-produto">
                        <p>Bolo</p>
                        <p>R$ 100,00</p>
                        <button id="compras">Comprar</button>
                        <button id="adicionar-carrinho">Adicionar ao carrinho</button>
                    </div>
                </article>
                <article class="banner-produtos">
                <img src="/assets/img//bolo_2.jfif" alt="">
                <div class="descricao-produto">
                    <p>Bolo</p>
                    <p>R$ 200,00</p>
                    <button id="compras">Comprar</button>
                    <button id="adicionar-carrinho">Adicionar ao carrinho</button>
                 </div>
                </article>
                <article class="banner-produtos">
                    <img src="/assets/img/bolo_3.jpg" alt="">
                    <div class="descricao-produto">
                        <p >Bolo</p>                        
                        <p>R$ 250,00</p>
                        <button id="compras">Comprar</button>
                    <button id="adicionar-carrinho">Adicionar ao carrinho</button>
                    </div>
                </article>
                <article class="banner-produtos">
                    <img src="/assets/img/bolo_4.jpg" alt="">
                    <div class="descricao-produto">
                            <p>Bolo</p>
                            <p>R$ 100,00</p>
                            <button id="compras">Comprar</button>
                            <button id="adicionar-carrinho">Adicionar ao carrinho</button>
                    </div>
                    
                </article>
                    
            </div>

            <div class="lista-produtos">
                <article class="banner-produtos">
                    <img src="/assets/img/bolo_1.jfif" alt="">
                    <div class="descricao-produto">
                        <p>Bolo</p>
                        <p>R$ 100,00</p>
                        <button id="compras">Comprar</button>
                        <button id="adicionar-carrinho">Adicionar ao carrinho</button>
                    </div>
                </article>
                <article class="banner-produtos">
                <img src="/assets/img/bolo_2.jfif" alt="">
                <div class="descricao-produto">
                    <p>Bolo</p>
                    <p>R$ 200,00</p>
                    <button id="compras">Comprar</button>
                    <button id="adicionar-carrinho">Adicionar ao carrinho</button>
                 </div>
                </article>
                <article class="banner-produtos">
                    <img src="/assets/img/bolo_3.jpg" alt="">
                    <div class="descricao-produto">
                        <p >Bolo</p>                        
                        <p>R$ 250,00</p>
                        <button id="compras">Comprar</button>
                    <button id="adicionar-carrinho">Adicionar ao carrinho</button>
                    </div>
                </article>
                <article class="banner-produtos">
                    <img src="/assets/img/bolo_4.jpg" alt="">
                    <div class="descricao-produto">
                            <p>Bolo</p>
                            <p>R$ 100,00</p>
                            <button id="compras">Comprar</button>
                            <button id="adicionar-carrinho">Adicionar ao carrinho</button>
                    </div>
                    
                </article>
                    
            </div>

            <div class="lista-produtos">
                <article class="banner-produtos">
                    <img src="/assets/img//bolo_1.jfif" alt="">
                    <div class="descricao-produto">
                        <p>Bolo</p>
                        <p>R$ 100,00</p>
                        <button id="compras">Comprar</button>
                        <button id="adicionar-carrinho">Adicionar ao carrinho</button>
                    </div>
                </article>
                <article class="banner-produtos">
                <img src="/assets/img/bolo_2.jfif" alt="">
                <div class="descricao-produto">
                    <p>Bolo</p>
                    <p>R$ 200,00</p>
                    <button id="compras">Comprar</button>
                    <button id="adicionar-carrinho">Adicionar ao carrinho</button>
                 </div>
                </article>
                <article class="banner-produtos">
                    <img src="/assets/img/bolo_3.jpg" alt="">
                    <div class="descricao-produto">
                        <p >Bolo</p>                        
                        <p>R$ 250,00</p>
                        <button id="compras">Comprar</button>
                    <button id="adicionar-carrinho">Adicionar ao carrinho</button>
                    </div>
                </article>
                <article class="banner-produtos">
                    <img src="/assets/img/bolo_4.jpg" alt="">
                    <div class="descricao-produto">
                            <p>Bolo</p>
                            <p>R$ 100,00</p>
                            <button id="compras">Comprar</button>
                            <button id="adicionar-carrinho">Adicionar ao carrinho</button>
                    </div>
                    
                </article>
                    
            </div>
        </section>
 

    </main>
    


    <footer class="container">
        <section class="rodape">
           <div class="cards-info">

               <article class="cards">
                    <h4>Sobre nós</h4>

                    <p>Somos MastersBolos
                        começamos em 2022 sempre estamos disponivel para nossos Clientes nossa história começa<a href="#">aqui</a>
                    </p>
               </article>
               <article class="cards">
                    <h4>Atendimento</h4>
                    <ul>
                        <li><a href="#">Contato atravez do Whatsapp</a></li>
                        <li><a href="#">Minha conta</a></li>
                        <li><a href="#">Vale presente</a></li>
                    </ul>
               </article>
               <article class="cards">
                    <h4>Loja virtual</h4>

                    <ul>
                        <li><a href="#">Prazo de entrega</a></li>
                        <li><a href="#">Forma de pagamento</a></li>
                        <li><a href="#">Politica de troca de devolução</a></li>
                        <li><a href="#">Política de privacidade</a></li>
                        <li><a href="#">Termos de condições</a></li>
                    </ul>
               </article>

               

           </div>

            <div class="social-icons">
                <a href="https://www.instagram.com/" target="_blank"><img src="img/incons/instagram.png" alt=""><a>
                <a href="https://web.whatsapp.com/" target="_blank"><img src="img/incons/whatsapp.png" alt=""></a>
                <a href="https://www.facebook.com/" target="_blank"><img src="img/incons/facebook.png" alt=""></a>
            </div>

        </section>
    </footer>
    
</body>
</html>