<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/erro404.css">
    <title>Pagina nao encontrada</title>
</head>
<body>
    


    <div class="erro">
        
        <h1>Ops... Alguma coisa esta errada</h1>

        <article>
            <img src="/img/ilustracao-sobre-o-error-404-not-found.png" alt="imagem-erro">
        </article>       

    </div>


</body>
</html>