@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Roboto:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.container{
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
} 


header{
    width: 100%;
    background-color: #6c2e6a;
    color: white;
    padding: 16px;
   
    position: fixed;
    z-index: 100;
    top: 0;
    box-shadow: 2px 2px 7px 1px #6c2e6a;
}

header .container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    color: white;
    
}

.logo{
    padding-left: 50px;
}


.logo img{
    width: 80px;
}

main{
    background-color: white;
    height: 500px;
}

.inserirCartao{
    width: 600px;
    background-color: rgb(231, 224, 224);
    border-radius: 12px;
    margin: auto;
    position: relative;
    bottom: 100px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    padding-left:40px;
    padding-right: 40px;
    padding-bottom: 40px;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.475);

    margin-top: 300px;
}

form div h2{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 30px;
}

input{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 12px;
    font-size: 18px;
    padding: 20px;
    border: none;
}

label{
    margin-top: 40px;
    color: black;
    font-size: 18px;
    font-weight: 300;
    border: none;
}

select{
    width: 150px;
    height: 40px;
    border-radius: 12px;
    font-size: 18px;
    border: none;
    padding-left: 20px;
}

#imagensBadeiras{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

#imagensBadeiras img{
    width: 400px;
}

button{
    height: 40px;
    width: 100%;
    margin-top: 40px;
    background-color: #6c2e6a;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 18px;
    transition: 0.5s;
    text-transform: uppercase;
}

button:hover{
    height: 40px;
    background-color: #915c8f;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 18px;
    box-shadow: 2px 2px 7px 1px #6c2e6a; 
    transition: 0.5s;
}

footer{
    background-color: #6c2e6a;
    height: 100px;
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;   
    width: 100%;

    margin-top: 250px;
}

.direitos-reservados{
    display: flex;
    justify-content: center;
}