@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Roboto:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container{
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
} 

header{

    height: 300px;
    display: flex;
    background-color: #6c2e6a;
    padding-top: 25px;
    justify-content: space-between;

}

.logo{
    padding-left: 50px;
}


.logo img{
    width: 80px;
}

main{
    background-color: white;
    height: 500px;
}

.andamento-pedido{
    width: 800px;
    height: 520px;
    background-color: rgb(231, 224, 224);
    border-radius: 12px;
    margin: auto;
    position: relative;
    bottom: 100px;
    padding-top: 80px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left:40px;
    padding-right: 40px;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.475);
}

#barra{
    width: 600px;
    height: 2px;
    background-color: #6c2e6a;
}

#agradecimento{
    text-align: center;
    margin-top: 30px;
}

.imagem-status{
    width: 100%;
    margin-top: 45px;
    display: flex;
    justify-content: space-around;
}

.cabecalho-andamento-pedido img{
    width: 100px;
    border-radius: 50%;
}

.imagem-status img{
    width: 50px;
}

.login-direitos-reservados{
    background-color: #6c2e6a;
    height: 100px;
    margin-top: 300px;
    font-size: 25px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}