@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@200&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}


.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header{
    width: 100%;
    background-color: #6c2e6a;
    color: white;
    padding: 16px;
   
    position: fixed;
    z-index: 100;
    top: 0;
    box-shadow: 2px 2px 7px 1px #6c2e6a;
}

header .container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    color: white;


}

img{
    cursor: pointer;
    height: 70px;
}

main .containe{
    margin-top: 10px;
    width: 100%;
    background-color: #bd7bba;
    display: flex;
    justify-content: center;
    color: white;
    padding: 16px;

}

.form-login{
    background-color: #c0a0bf;
    border-radius: 12px;
    display: flex;
    color: #7c0078;
    flex-direction: column;
    margin-top: 220px;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding-bottom: 70px;
    margin-bottom: 365px;
    border: 2px solid white;
}

.form-login:hover{
    border: 2px solid #7c0078;
}
.login-email-senha{
    padding: 20px;
    border: none;
}

.login-email-senha{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.titulo-login{
    margin-top: 40px;
}

footer .containe{
    background-color: #6c2e6a;;
    display: flex;
    color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 114px;
    width: 100%;
    font-size: 20px;
    text-transform: uppercase;
    }

footer{
    width: 100%;
    background-color: #6c2e6a;
}

input{
    width: 249px;
    border: none;
    border-radius: 3px;
}
.login-botoes button{
    color:#6c2e6a;
    margin: 10px;
    width: 100px;
    border: 1px solid #6c2e6a;
    border-radius: 4px;
    font-weight: bolder;
    transition: .6s all;

}
.login-botoes button:hover{
    border: 1px solid white;
    background-color: #6c2e6a;
    color: white;
    transition: .6s all;

}

button a {
    text-decoration: none;
    color: #6c2e6a;
}

button a:hover{
    border: 1px solid white;
    background-color: #6c2e6a;
    color: white;
    transition: .6s all;
    border: none;
}

.botaoAdmin{
    color:#6c2e6a;
    margin: 10px;
    width: 225px;
    border: 1px solid #6c2e6a;
    border-radius: 4px;
    font-weight: bolder;
    transition: .6s all;
}

.botaoAdmin:hover{
    border: 1px solid white;
    background-color: #6c2e6a;
    color: white;
    transition: .6s all;
}

.esqueceu-senha a{
    text-decoration: none;
}

.esqueceu-senha a{
    color: #6c2e6a;
}

.field {
    border: 1px solid #ccc;
    outline: none;
}

.field.--has-error {
    border-color: #f00;
}

strong{
    font-size: 12px;
}
@media (max-width: 850px){
    footer .containe{
        justify-content: center;
    }
}


