@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


#sidebar{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #7159c1;
  display: flex;
  justify-content: center;

  z-index: 99;
  width: 0px;
  overflow: hidden;
  transition: width 0.8s;
}

#close{
  font-size: 20px;
  color: #fff;
  position: absolute;
  left:200px;
  top: 20px;
  cursor: pointer;
}