<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/dashboardAdmin.css">
    <title>DashboardAdmin</title>
</head>
<body>
    <div class="conatine">
        <nav>
            <ul>
                <li><a href="#" class="logo">
                    <img src="/src/public/img/logo/logo.png" alt="">
                    <span class="nav-iten">Admin</span>
                </a>

                </li>
            </ul>
        </nav>

    </div>
</body>
</html>