<footer >
    <div class="containe">
        <div class="cards-info">

            <article class="cards">
                <h4>Sobre nós</h4>

                <p>Confira nossa história ela começa<a
                        href="/sobre"> Aqui</a>
                </p>
            </article>
            <article class="cards">
                <h4>Atendimento</h4>
                <ul>
                    <li><a href="/contato">Entre em contato conosco para qualquer dúvida</a></li>
                </ul>
            </article>

        </div>

        <div class="midias-sociais">                
            <a href="https://br.linkedin.com/" target="_blank"><img src="/img/incons/linkedin.png"
                    alt=""></a>
            <a href="https://www.facebook.com/" target="_blank"><img src="/img/incons/facebook.png"
                    alt=""></a>
                    <a href="https://www.instagram.com/" target="_blank"><img src="/img/incons/instagram.png"
                        alt=""></a>
                       
       

</div>
<div class="bandeiras-pagamentos">
    <img src="/img/pagamentos/bandeiras.png" alt="">
</div>
</div>
</footer>
